body {
    margin: 0;
    background-image: url('https://static.pexels.com/photos/23475/pexels-photo.jpg');
    background-size: cover;
    color: white;
}
.TodoApp {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}

