@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
.Form {
    font-family: 'Pontano Sans', sans-serif;
}
.taskForm {
    position: absolute;
    display: block;
    z-index: 1;
    left: 0;
    top: 180px;
    width: 100%;
    height: calc(100vh - 190px); 
    overflow: auto;
    background-color: inherit;
    animation-name: animatetask;
    animation-duration: 0.4s
}
@keyframes animatetask {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}
@keyframes animatelist {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
}
.taskFormContent {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.listFormContent {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.listForm {
    position: absolute;
    display: block;
    z-index: 2;
    right: 0;
    top: 180px;
    width: 100%;
    overflow: auto;
    height: calc(100vh - 190px); 
    background-color: inherit;
    animation-name: animatelist;
    animation-duration: 0.4s;
}
.text {
    width: 300px;
    padding: 10px 10px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-right: 15px;
    height: 28px;
    margin-bottom: 5px;
}
.select {
    padding: 10px 10px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-right: 15px;
    height: 50px;
    margin-bottom: 5px;
}
.submit {
    width: 100px;
    background-color: rgba(33, 33, 33, .7);
    color: white;
    border: none;
    transition: .3s;
    border-radius: 5px;
    height: 50px;
}
.submit:hover {
    background-color: rgb(1, 151, 1);
    cursor: pointer;
}

@media all and (max-width: 480px) {
    .taskForm {
        top: 240px;
    }
    .listForm {
        top: 240px;
    }
}